:root{
  --phosphor: #00FF00;
}

.phosphor-screen{
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  z-index: 100;
  background-image: url("../img/phosphor-grid.png");
  background-origin: content-box;
  background-repeat: repeat;
  background-size: 3px;
  pointer-events: none;
}

body {
  background-color: black;
  color: var(--phosphor);
  font-family: "VT323";
}

#win-panel{
  z-index: 99;
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#win-panel h1{
  font-size: 120px;
  text-transform: uppercase;
}

#win-panel.hidden{
  display: none;
}

#win-panel button{
  color: var(--phosphor);
  font-family: "VT323";
  width: 140px;
  height: 140px;
  border-radius: 50%;
  font-size: 25px;
  background-color: black;
  border: none;
  box-sizing: border-box;
}

#win-panel button:hover{
  border: 5px solid var(--phosphor);

}

#app{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.score-board{
  padding: 15px;
  font-size: 80px;
}

#board {
  position: relative;
  border: 5px solid var(--phosphor);
}

.paddle {
  top: 0px;
  left: -5px;
  position: absolute;
  background-color: var(--phosphor);
  transform-origin: center;
}

#paddle1 {
  transform: translate(0px, 0px);
}

#paddle2 {
  transform: translate(270px, 100px);
}

#net {
  position: relative;
  width: 5px;
  height: 200px;
  transform: translateX(200px);
  background-color: var(--phosphor);
}

#ball {
  position: absolute;
  background-color: var(--phosphor);
  width: 15px;
  height: 15px;
  top: calc( -15px / 2);
  left: calc( -15px / 2);

}

.score span {
}

.left {
}

.right {
}

button {
}

#winner {
}

#winner.hide {
}

@-webkit-keyframes slide {
    100% { top: 20px; }
}

@keyframes slide {
    100% { top: 20px; }
}
