body {
  margin: 0px;
  background-color: black;
}

#app{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  position: relative;
  width: 400px;
  height: 200px;

  border: 5px solid green;
}

.paddle {
}

#paddle1 {
}

#paddle2 {
}

#net {
  position: relative;
  width: 5px;
  height: 200px;
  transform: translateX(200px);
  background-color: green;
}

#ball {
  position: absolute;
  background-color: green;
  width: 15px;
  height: 15px;
  top: calc( -15px / 2);
  left: calc( -15px / 2);

}

.score span {
}

.left {
}

.right {
}

button {
}

#winner {
}

#winner.hide {
}

@-webkit-keyframes slide {
    100% { top: 20px; }
}

@keyframes slide {
    100% { top: 20px; }
}
